<div class="w-screen h-screen absolute top-0 flex bg-black z-10 justify-center items-center">
    <a class="exit absolute right-10 top-10 text-5xl hover:opacity-80  " [routerLink]="['../']">&#10005;</a>
    <div *ngIf="currentOrder" class="w-9/12 h-5/6 pt-14 flex flex-col justify-start items-center gap-5">
        <div class="w-10/12 flex flex-row items-center justify-between border-b-[1px] border-[#695f55] pb-10">
            <h1 class="text-2xl text-primary font-semibold">{{currentOrder.status === 'Cart' ? 'Your Basket' : 'Your Order'}}</h1>
            <button *ngIf="currentOrder.status === 'Cart'" class="text-2xl px-6 py-3 bg-primary rounded-sm font-semibold hover:opacity-80 " (click)="placeOrder()">Place Order</button>   
        </div>
        <div *ngFor="let item of orderItems" class="flex flex-row items-center justify-between w-10/12 pb-3 border-b-[1px] border-[#695f55]">
            <div class="flex flex-row items-center justify-start gap-7 w-1/3">
                <h2 class="text-lg text-primary">{{item.quantity}}x</h2>
                <img [src]="item.itemUrl" width="70px" height="70px" />
                <h2 class="">{{item.itemName}}</h2>
            </div>
            <div class="flex flex-row justify-between items-center gap-10 pr-4 w-1/4">
                <div class="flex flex-row justify-end items-center gap-7" *ngIf="currentOrder.status === 'Cart'">
                    <button (click)="decreaseQuantity(item)" class="border-[1px] border-[#695f55] text-xl p-1 px-3 rounded-full hover:border-[#a99887]">&minus;</button>
                    <button (click)="increaseQuantity(item)" class="border-[1px] border-[#695f55] text-xl  p-1 px-3 rounded-full hover:border-[#a99887]">+</button>
                </div>
                <p>&euro; {{item.price * item.quantity | number:'1.2-2'}}</p>
            </div>
        </div>
        <div class="w-10/12 flex flex-row justify-between items-center">
            <h1 class="text-3xl text-primary font-semibold">Total:</h1>
            <h1 class="text-3xl  font-semibold">&euro; {{totalPrice | number:'1.2-2'}}</h1>
        </div>
    </div>
</div>